[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://github.com/openpeer/libvpx.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = https://github.com/openpeer/libyuv.git
[submodule "third_party/opus/src"]
	path = third_party/opus/src
	url = http://git.chromium.org/git/chromium/deps/opus.git
[submodule "third_party/libjpeg_turbo"]
	path = third_party/libjpeg_turbo
url=https://github.com/openpeer/libjpeg_turbo.git
[submodule "build"]
	path = build
	url = http://git.chromium.org/chromium/src/build.git
[submodule "third_party/yasm/source/patched-yasm"]
	path = third_party/yasm/source/patched-yasm
	url = http://git.chromium.org/chromium/deps/yasm/patched-yasm.git
